<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>
<h1>Users</h1>
<table>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'New User', new_user_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="emil">
          <h1><%= user.username %></h1>
        <p>
          <%= user.email %>
        </p>
        </td>
        <td class="actions">
          <ul>
            <li><%= link_to 'Show', user %></li>
            <li><%= link_to 'Edit', edit_user_path(user) %></li>
            <li>
            <%= link_to 'Destroy',
            user,
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
